<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Ei mollis
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <img src="../../assets/img/img.jpg" />
    <ion-card-header>
      <ion-card-subtitle>minim dicant sensibus</ion-card-subtitle>
      <ion-card-title>Melius fabella</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Mei eu mollis albucius, ex nisl contentiones vix. Duo persius volutpat at, cu iuvaret epicuri mei. Duo posse pertinacia no, ex dolor contentiones mea. Nec omnium utamur dignissim ne. Mundi lucilius salutandi an sea, ne sea aeque iudico comprehensam. Populo delicatissimi ad pri. Ex vitae accusam vivendum pro.
    </ion-card-content>
  </ion-card>
</ion-content>
