<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Usuarios
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    @for (usuario of usuarios; track usuario.email) {
      <ion-item>
        <ion-avatar slot="start">
          <ion-img [src]="usuario.picture.medium"></ion-img>
        </ion-avatar>
        <ion-label>
          <h2>{{ usuario.name.first }}</h2>
          <p>{{ usuario.email }}</p>
        </ion-label>
      </ion-item>
    } @empty {
      <ion-item>
        <ion-label>No hay usuarios</ion-label>
      </ion-item>
    }
  </ion-list>
  <ion-button expand="block" (click)="cargarUsuarios()">
    Cargar Usuarios
  </ion-button>
</ion-content>
